html {
	height:100%;
	overflow-x:hidden;
}
body {
	text-align: center;
	background-image:url(img/undraw_coolness_dtmq%201.png);
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
}
@media only screen and (max-width: 768px) { 
	.big {
		padding-left:160px;
		padding-bottom:300px;
		top:287px !important;
	} 
	body {
	background-size: 125%;
	}
	.small p {
	font-size:15px !important;
	}
	.btn {
	font-size: 8px !important;
	}
	#reset {
	bottom:20px;
	}
	#text {
		margin-bottom:0px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.big {
	margin-top:90px;
	margin-right:150px;
	}
	.small p {
	font-size:25px !important;
	}
	.btn {
	font-size: 17px !important;
	}
	
}
.btn {
	background:#D744F1;
}
.small p {
	font-size:50px;
}
.big {
	position:relative;
	top: 300px;
	right: 150px;
}
.actividad {
	font-size:32px !important;
	top: 100px;
}
#reset {	
	display:none;
}